@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  /* Accent color */
  --orange: hsl(25, 97%, 53%);

  /* Main colors */
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --medgrey: hsl(216, 12%, 54%);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Overpass;
  margin: 0;
  padding: 0;
  background-color: var(--verydarkblue);
}

.main-card {
  background-image: linear-gradient(--medgrey, --darkgrey);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.card-content-box {
  display: flex;
  flex-direction: column;
}

.rating-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: var(--darkgrey);
  padding: 10px;
  margin: 30px;
  border-radius: 50px;
}